body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background:white;
    border: 1px solid #999;
    margin-right: -1px;
    font-size: 10px;
    font-weight: bold;
    height: 100px;
    text-align: left;
    width: 100px;
  }

  .square_wend {
    background:#E5e5E5;
    border: 1px solid #999;
    margin-right: -1px;
    color: #3F51B5;
    font-size: 10px;
    font-weight: bold;
    height: 100px;
    text-align: left;
    width: 100px;
  }

  .square_today {
    background: orange;
    border: 1px solid #999;
    margin-right: -1px;
    font-size: 10px;
    font-weight: bold;
    height: 100px;
    text-align: left;
    width: 100px;
  }

  .square_today_wend {
    background: orange;
    border: 1px solid #999;
    margin-right: -1px;
    font-size: 10px;
    color: #3F51B5;
    font-weight: bold;
    height: 100px;
    text-align: left;
    width: 100px;
  }
  .apoinment{
    background: orange;
    width: 80;
    height: 80;
  }
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }

  .content {
    background:white;
    border: 1px solid #999;
    margin-right: -1px;
    font-size: 10px;
    font-weight: bold;
    height: 100px;
    text-align: left;
    width: 100px;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .week-day {
    background: #3F51B5;
    color: white;
    border: 1px solid #999;
    float: left;
    margin-right: -1px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width: 100px;
    width: 100px;
}

  .week-days:after {
    clear: both;
    content: "";
    display: table;
  }